/* Style général */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Container principal */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header */
.section {
  background-color: #f6c45d;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.section h1 {
  font-size: 2.5em;
  color: #333;
}

/* Barre de recherche */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.logoheader{
  width: 11%;
  margin-bottom: 10px;
}

.search-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
}

.location-button:hover {
  background-color: #218838;
}

/* Container des cartes */
.restaurant-list {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  flex-wrap: nowrap;
}

.restaurant-card {
  flex: 0 0 250px; /* Largeur fixe pour chaque carte */
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.restaurant-card:hover {
  transform: translateY(-10px);
}

.restaurant-image {
  width: 119%;
  height: 138px;
  object-fit: cover;
  border-radius: 10px;
}

.restaurant-card h3 {
  font-size: 1.1em;
  margin: 10px 0;
}

.restaurant-card .info {
  color: #666;
}

.star-icon {
  color: #ff5722; /* Couleur de l'icône */
  margin-right: 5px;
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.category-tag {
  background-color: #fbe9c7;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-tag:hover {
  background-color: #ffd27f;
}
.section1 {
  background-image: url("../../../assets/curve.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  padding: 50px 0 150px;
  margin: -12% 0 -70px;
}